#root {
  width: 100%;
  background-color: #001428;
}

a {
  color: #7f99b2 !important;
}

.app-title h2 {
  color: #6690BB;
  font-size: 2.6em;
}

.section-title {
  color: #7f99b2;
  font-size: 2.2em;
}

h2, h3, h4 {
  margin:0;
}

.mb-10 {
  margin-bottom: 10px;
}

.pad-top {
  padding-top:16px;
}

.pad-left {
  padding-left:20px;
}

.pad-right {
  padding-right:20px;
}

.grid-challenges {
  height:100vh;
  border-left:1px solid blue;
}

.upload-file {
  width:100%;
}

.filter-data {
  margin-bottom:20px;
}

.month-cards {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(4, 1fr);
}

.month-card {
  width:100%;
  border:1px solid #324d67;
  background-color: #002142 !important;
}

.month-card-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
}

.current-month {
  border:1px solid #89CFF0;
}

.month-card ul {
  list-style: none;
  padding-left:0;
}

.view-workout-link {
  font-size: var(--mantine-font-size-sm);
}

.best-data {
  padding-bottom:16px;
}

.best-data-value {
  font-size: var(--mantine-font-size-xl);
  font-weight: bold;
}

.pad-bottom {
  padding-bottom: 16px;
}

.erg-type-label {
  color: #333;
  padding:6px;
  text-align:center;
}

.RowErg-label {
  background-color:#afbd22;
}

.BikeErg-label {
  background-color:#B6C7D9;
}

.SkiErg-label {
  background-color:#DC3E26;
}

.tiny-date {
  font-size: var(--mantine-font-size-xs);
}

.bottom-credits {
  font-size: var(--mantine-font-size-sm);
  margin: 15px 0;
  width:100%;
  padding-left:15px;
  color: #6690BB;
}

.month-name {
  font-weight: bold;
  font-size:22px;
}

.year-name {
  font-size:14px;
}

.radio-group-inline {
  display: flex;
  align-items: center;
}

.radio-group-inline .mb-10 {
  margin-bottom: 0; /* Override the existing mb-10 class if necessary */
  margin-right: 10px; /* Add some space between the radio buttons */
}

.radio-group {
  display: flex;
  gap: 5px; /* Adjust spacing between radio buttons as needed */
}

.radio-group div {
  display: flex;
  align-items: start;
  margin-left:5px;
}

.radio-group .mantine-Radio-label {
  padding-left:1px !important;
}

.no-data-div {
  margin-top:10px;
}

.erg-data-bg {
  padding: 3px 1em 1em 1em;
  margin-bottom: 1em;
}

.erg-data-bg-RowErg {
  border: 1px solid #afbd22;
}

.erg-data-bg-BikeErg {
  border: 1px solid #B6C7D9;
}

.erg-data-bg-SkiErg {
  border: 1px solid #DC3E26;
}

.calendar {
  width:100%;
  font-size:12px;
}

.center-calendar-date {
  text-align:center;
}

.row-this-day {
  color: black;
  background-color: #afbd22;
}

.bike-this-day {
  color: black;
  background-color: #B6C7D9;
}

.ski-this-day {
  color: black;
  background-color: #DC3E26;
}

.row-and-bike-this-day {
  color: black;
  background-image: linear-gradient(-45deg, #afbd22 50%, #B6C7D9 50% );
}

.day-label {
  font-size:0.6em;
  color:#7f99b2;
}

.recharts-wrapper {
  height: 400px !important;
  width: 100% !important;
}

.totals-label-and-value {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 1000px) {
  .month-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .month-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
