:root {
  --rowErg: #afbd22;
  --bikeErg:  #9dc7f5;
  --skiErg:  #ffffff;
  --softBlue: #7f99b2;
  --darkBlue: #001428;
  --darkestBlue: #00060c;
  --dimGray: #e1e1e1;
}

html, body, #root {
  height: 100%;
  font-size: 14px;
  background-color: var(--darkestBlue);
}

#root {
  width: 100%;
  color: #f5f5f5;
}

.app-container {
  min-height: 100%;
  padding: 10px;
}

.title-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 20px;
}

.everything-except-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: max-content;
  height: 100%;
  background-color: #001428;
  width: 90%;
  padding: 10px;
  border:1px solid var(--softBlue);
  border-radius: 2px;
}

.max-height {
  min-height: 100vh;
}

a {
  color: #7f99b2 !important;
}

.app-title {
  font-size: 2.6em;
  width: 400px;
  background-image: linear-gradient(-180deg, var(--rowErg) 55%, var(--bikeErg) 45%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-title {
  color: var(--softBlue);
  font-size: 2.2em;
}

.bright-text {
  color: #FFFFFF;
}

.rowErg-color {
  color: var(--rowErg);
}
.bikeErg-color {
  color: var(--bikeErg);
}
.skiErg-color {
  color: var(--skiErg);
}

h2,
h3,
h4,
h5 {
  margin: 0;
}

h5 {
  font-size: 1em;
  color: var(--dimGray) !important;
  font-weight: normal;
}

.stat-value {
  font-size:1.2em;
  padding:0;
  margin:0;
  font-weight: bold;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.font-size-14 {
  font-size: 14px !important;
}

.ml10 {
  margin-left: 10px;
}

.stat-size-sm {
  color: var(--softBlue) !important;
  font-size: 12px !important;
}

.width-50 {
  width: 50%;
}

.width-100 {
  width: 100%;
}

.width-100-percent {
  width: 100%;
}

.filename-in-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  width: 250px;
  list-style: circle;
  color: #7f99b2;
}

.proportions-bar-container {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #7f99b2;
}

/* Override Mantine colors on 'x' button */
.remove-filename-x {
  color: firebrick !important;
}
.remove-filename-x:hover {
  color: white !important;
  background-color: #7f99b2 !important;
}

.pad-top {
  padding-top: 16px;
}

.pad-top-subtle {
  padding-top: 8px;
}

.pad-bottom {
  padding-bottom: 16px;
}

.pad-bottom-subtle {
  padding-bottom: 8px;
}

.pad-bottom-big {
  padding-bottom: 32px;
}

.pad-left {
  padding-left: 20px;
}

.pad-right {
  padding-right: 20px;
}

.grid-challenges {
  height: 100vh;
  border-left: 1px solid blue;
}

.upload-file {
  width: 100%;
}

.dashed-border {
  border:1px dashed #324d67;
  border-radius: 16px;
  padding: 12px;
}

.filter-data {
  margin-bottom: 20px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-space-between {
  justify-content: space-between;
}

.medal-big {
  font-size: 42px !important;
}

.month-cards {
  display: grid;
  gap: .6em;
  grid-template-columns: repeat(4, 1fr);
}

.month-card {
  width: 100%;
  border: 1px solid #324d67;
  background-color: #002142 !important;
  color: #f5f5f5 !important;
}

.month-card-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
}

.month-card-dim {
  opacity: 30% !important;
}

.erg-specific-meters-container {
  width: 80px;
  text-align: left;
}

.dim-text {
  color: var(--dimGray) !important;
}

.current-month {
  border: 1px solid #89cff0;
}

.month-card ul {
  list-style: none;
  padding-left: 0;
}

.view-workout-link {
  font-size: var(--mantine-font-size-sm);
}

.best-data {
  padding-bottom: 16px;
}

.best-data-value {
  font-size: var(--mantine-font-size-xl);
  font-weight: bold;
}

.year-stat-box {
  width: 100%;
  margin-bottom:10px;
  padding-left: 10px;
  padding-right: 10px;
}

.erg-type-label {
  color: var(--darkBlue);
  padding: 6px;
  text-align: center;
}

.rowErg-label {
  background-color: var(--rowErg);
}

.bikeErg-label {
  background-color: var(--bikeErg);
}

.skiErg-label {
  background-color: var(--skiErg);
}

.rowErg-border {
  border: 1px solid var(--rowErg);
}

.bikeErg-border {
  border: 1px solid var(--bikeErg);
}

.skiErg-border {
  border: 1px solid var(--skiErg);
}

.tiny-units {
  font-size: var(--mantine-font-size-xs);
}

.bottom-credits {
  font-size: var(--mantine-font-size-sm);
  margin: 15px 0;
  width: 100%;
  padding-left: 15px;
  color: #6690bb;
}

.month-name {
  font-weight: bold;
  font-size: 22px;
}

.year-name {
  font-size: 14px;
}

.radio-text {
  width: 250px;
}

.radio-group-inline {
  display: flex;
  align-items: center;
}

.radio-group-inline .mb-10 {
  margin-bottom: 0; /* Override the existing mb-10 class if necessary */
  margin-right: 10px; /* Add some space between the radio buttons */
}

.radio-group .mantine-Radio-label {
  padding-left: 1px !important;
}

.no-left-margin {
  margin-left: 0 !important;
}

.no-data-div {
  margin-top: 10px;
}

.erg-data-bg {
  padding: 0 1em 1em 1em;
  margin-bottom: 1em;
}

.erg-data-bg-rowErg {
  border: 1px solid var(--rowErg);
}

.erg-data-bg-bikeErg {
  border: 1px solid var(--bikeErg);
}

.erg-data-bg-skiErg {
  border: 1px solid var(--skiErg);
}

.calendar {
  width: 100%;
  font-size: 11px;
}

.center-calendar-date {
  text-align: center;
}

.row-this-day {
  color: black;
  background-color: var(--rowErg);
}

.bike-this-day {
  color: black;
  background-color: var(--bikeErg);
}

.ski-this-day {
  color: black;
  background-color: var(--skiErg);
}

.row-and-bike-this-day {
  color: black;
  background-image: linear-gradient(-45deg, var(--rowErg) 50%, var(--bikeErg) 50%);
}

.day-label {
  font-size: 0.6em;
  color: #7f99b2;
}

.trend-tooltip {
  background-color: white;
  padding:10px;
  border:1px solid #002142;
  color: #001428;
}

.general-stats-container {
  border-right: 1px dashed #324d67;
  margin-right:10px;
  display: flex;
  min-height: 250px;
}

.recharts-wrapper {
  height: 100% !important;
  width: 100% !important;
}

.totals-label-and-value {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.proportions-meter {
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 22px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #1a1a1a;
  font-weight: bold;
  text-align: center;
}

.row-erg-proportion {
  background-color: var(--rowErg);
  border-right: 3px solid #002142;
}

.bike-erg-proportion {
  background-color: var(--bikeErg);
  border-right: 3px solid #002142;
}

.ski-erg-proportion {
  background-color: var(--skiErg);
}

.best-value-with-tiny-units {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 2px;
}

.radio-column {
  width: 320px;
  border: 1px solid #324d67;
}

/* Override Mantine radio group defaults */
.radio-card {
  border: none !important;
  padding: 6px !important;
}
.radio-title {
  font-size:14px !important;
}
.radio-description {
  font-size: 12px !important;
}

.proccess-data-buttons {
  display: flex;
  flex-direction: row;
}

.general-stat-line {
  margin-bottom: 4px !important;
}

.unloaded-text {
  color: #324d67 !important;
}

.load-test-data-button {
  font-size: 12px !important;
  background-color: transparent !important;
  text-decoration: underline !important;
  padding: 0 !important;
  margin-left:5px !important;
}

.placeholder-calendars {
  height: 400px;
  color: #324d67;
  align-content: center;
  text-align: center;
}

.mantine-Select-input {
  color: var(--darkBlue) !important;
  background-color: var(--skiErg) !important;
}

@media only screen and (max-width: 1000px) {
  .month-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .month-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
